:root {
  background-color: rgb(135, 206, 235); /* skyblue */
}

article p:first-child {
  background-color: black;
  color: white;
}

article p:nth-child(2) {
  color: initial; /* default */
}

article p:last-child {
  color: red;
}

ul {
  list-style-type: disc;
  padding: 0;
}

ul li {
  width: 50%;
  padding: 10px;
  background-color: gray;
}

ul li:nth-child(odd) {
  background-color: white;
}

ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

ul li:nth-last-child(3) {
  background-color: pink;
}
