/*  your css code here. If applicable */
:root{
	background-color:skyblue;
}

 div :first-child{
	background-color:black;
	color:white;
}
div:nth-child(2){
	color:black;
}

 div :last-child{
	color: red;
}